@{
    ViewData["Title"] = "A MESSAGE FROM AMOLA AND JOHN";
}
<h1>@ViewData["Title"]</h1>

<p>
    The world is not perfect but <i>it's not that bad</i>. If we got eachother and it's all we had, I'll be your brother and I'll hold your hand.
    You should know I'll be there for you.
</p>
